header{
	background: #BBBBBB;
	padding: 20px 0;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
.titulo-princ{
	padding-left: 30px;
	font-weight: bold;
	font-size: 40px;

}

nav{
	position: absolute;
	top: 100px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}
#banner{
	width: 100%;
}
body{
	background: #FFFFFF;
}
.principal{
	background: #990044;
	padding: 40px;
}

.titulo-center{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

p{
	text-align: center;
}

#missao{
	 style="font-size: 20px;"
}

em strong{
	color: #FF0000;
}

#lista{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 2% 15% 0 0%;
	font-size: 20px;
}
.itens{
	font-style: italic;
}
.beneficios{
	background: #FFFFFF;
	padding: 20px;
}
.imagembeneficios{
	width: 50%;
}
footer{
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 0;

}
.copyrigth{
	font-size: 13px;
	color: #FFFFFF;
	margin: 20px 0;
}